<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Paper waste</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

   <!-- ======= Header ======= -->
   <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Nisargaḥ (निसर्गः)</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
<li class="dropdown"><a href="#"><span>Waste</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/Paper-waste.html">Paper Waste management</a></li>
              <li><a href="/Plastic-Waste.html">Plastic Waste management </a></li>
              <li><a href="/Scrap-metal.html">Scrap Metal management</a></li>
              <li><a href="/Organic-Waste.html">Organic Waste management</a></li>
              <li><a href="/Chemical-Waste.html">Chemical Waste management</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Paper waste management</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Paper waste management</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/waste/paper.jpg" width="600" height="600" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/waste/paper1.jpg" width="800" height="600" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="assets/img/waste/paper2.jpg" width="800" height="600" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <!-- <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div> -->
            <div class="portfolio-description">
              <h3>Industries that utilize paper waste</h3>
              <p> <b>1. Paper and pulp industry:</b> <br>
                The paper and pulp industry recycles paper waste to produce new paper and paper products.                
               <br> <b>2. Packaging industry:</b><br>
               Paper waste is used to produce cardboard boxes, paper bags, and other types of packaging materials.                
                <br> <b>3. Printing industry: </b><br>
                Paper waste is used to produce recycled paper for printing purposes.                
               <br> <b>4. Textile industry:</b><br>
               Some types of paper waste, such as old newspapers and magazines, can be used as a raw material to create textiles.                
                <br> <b>5.  Art and craft industry: </b><br>
                Paper waste is often used by artists and crafters to create paper mache, collages, and other projects.              <!-- <p>
                Paper waste constitutes almost one-third of the solid waste generated across the globe. Before, paper waste was either disposed in landfills, taking up a lot of space, or was incinerated. The combustion of paper through incineration releases carbon dioxide, disturbing the natural atmospheric balance. The enhanced greenhouse effect is responsible for global warming and climate change, making landfill disposal and incineration unsuitable and harmful options for paper waste management. 
              </p>
              <p>Paper recycling is a "green" solution for the management of paper waste. Recycling paper is a process that converts waste paper into reusable paper and other products.</p> -->
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Nisargaḥ (निसर्गः)</h3>
      <p>Let’s go green,
        to keep the world clean.</p>
      
      <div class="copyright">
        &copy; Copyright <strong><span>Nisargaḥ (निसर्गः)</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">IIIT-STUDENT</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>