<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Paper waste</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>

   <!-- ======= Header ======= -->
   <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">Nisargaḥ (निसर्गः)</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/">About</a></li>
          <li><a class="nav-link scrollto" href="/">Services</a></li>
<li class="dropdown"><a href="#"><span>Waste</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/paper_waste">Paper Waste management</a></li>
              <li><a href="/plastic_waste">Plastic Waste management </a></li>
              <li><a href="/scrap_metal">Scrap Metal management</a></li>
              <li><a href="/organic_waste">Organic Waste management</a></li>
              <li><a href="/chemical_Waste">Chemical Waste management</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/">Team</a></li>
          <li><a class="nav-link scrollto" href="/">Contact</a></li>
          <li><a class="getstarted scrollto" href="/">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Plastic waste management</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Plastic waste management</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="/img/waste/plastic.jpg" width="800" height="750" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="/img/waste/plastic1.jpg" width="800" height="750" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="/img/waste/plastic2.jpg" width="800" height="750" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <!-- <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div> -->
            <div class="portfolio-description">
              <h3>Industries that utilize organic waste</h3>
              <p> <b>1. Recycling industry:</b> <br>
                The recycling industry processes waste plastic and convert it into new products or raw materials. This industry plays a critical role in diverting plastic waste from landfills and reducing its impact on the environment.                
               <br> <b>2. Construction industry:</b><br>
               The construction industry is increasingly using waste plastic as a resource for building materials, such as insulation materials, roofing tiles, and road paving.
                
                <br> <b>3. Textile industry:</b><br>
                The textile industry is using recycled plastic as a raw material for producing fabrics, such as polyester and nylon. This reduces the need for raw materials and diverts plastic waste from landfills.                
               <br> <b>4. Energy industry: </b><br>
               The energy industry is using waste plastic as a fuel source for energy generation. Waste-to-energy plants are becoming increasingly common, which convert plastic waste into energy through incineration or other processes.

                
                <br> <b>5. 3D printing industry:</b><br>
                The 3D printing industry is using waste plastic as a raw material for producing 3D-printed objects. This reduces the need for virgin materials and increases the sustainability of 3D printing.
                <!-- <p>
                Paper waste constitutes almost one-third of the solid waste generated across the globe. Before, paper waste was either disposed in landfills, taking up a lot of space, or was incinerated. The combustion of paper through incineration releases carbon dioxide, disturbing the natural atmospheric balance. The enhanced greenhouse effect is responsible for global warming and climate change, making landfill disposal and incineration unsuitable and harmful options for paper waste management. 
              </p>
              <p>Paper recycling is a "green" solution for the management of paper waste. Recycling paper is a process that converts waste paper into reusable paper and other products.</p> -->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Nisargaḥ (निसर्गः)</h3>
      <p>Clean Earth, Green Earth… our dream Earth.</p>
     
      <div class="copyright">
        &copy; Copyright <strong><span>Nisargaḥ (निसर्गः)</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/green-free-one-page-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">IIIT-STUDENT</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>