<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Template Main CSS File -->
  <!-- <link rel="stylesheet" href="./form.css"> -->
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
      <div class="signup">
        <form id="user_form">
          <label for="chk" aria-hidden="true">Reset Password</label>
          <input type="password" name="password" placeholder="Password*" required="true" id="user_password">
          <input type="password" name="cpassword" placeholder="Confirm Password*" required="true">
          <button type="submit" id="submit">Reset Password</button>
        </form>
      </div>
  
    </div>
  
</body>
<script>
    var url = window.location.href;
    var hashes = url.split("?")[1];
    console.log(hashes);
    const form = document.getElementById("user_form");
  // Add an event listener for the form submit event
  form.addEventListener("submit", function(event) {
    // First, prevent the default form submission behavior
    event.preventDefault();
    // Collect the form data
    document.getElementById("submit").disabled = true;
    const pass = document.getElementById("user_password").value;
    //  console.log(pass);
    const formData = new FormData(form);
      console.log(formData);
    // Send the form data to the server using a POST request
    fetch(`http://10.0.0.128:9000/update_password/?u_id=${hashes}&ps=${pass}`, {
      method: "POST",
      body: formData
    })
    .then(response => response.text())
    .then(data => {
      // console.log("Form submission successful:", data);
      // Display a success message to the user
      window.location.href = '/login';
      alert("Password updatted successfully!");
    })
    .catch(error => {
      // console.error("Form submission failed:", error);
      // Display an error message to the user
      alert("Form submission failed!");
    });
  });
</script>
</html>