<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form  id="user_form">
        <label for="password">password</label>
        <input type="password" name="password" id="user_password">
        <button type="submit" onclick="">update</button>
    </form>
</body>
<script>
    var url = window.location.href;
    var hashes = url.split("?")[1];
    console.log(hashes);
    const form = document.getElementById("user_form");
   
  // Add an event listener for the form submit event
  form.addEventListener("submit", function(event) {
    // First, prevent the default form submission behavior
    event.preventDefault();
    // Collect the form data
    const pass = document.getElementById("user_password").value;
    //  console.log(pass);
    const formData = new FormData(form);
      console.log(formData);
    // Send the form data to the server using a POST request
    fetch(`http://10.0.0.128:9000/update_password/?u_id=${hashes}&ps=${pass}`, {
      method: "POST",
      body: formData
    })
    .then(response => response.text())
    .then(data => {
      // console.log("Form submission successful:", data);
      // Display a success message to the user
      alert("Form submitted successfully!");
    })
    .catch(error => {
      // console.error("Form submission failed:", error);
      // Display an error message to the user
      alert("Form submission failed!");
    });
  });
</script>
</html>