<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <title>Document</title>
</head>
<body>
    <script>
        <% if(message.success){ %>
        new Noty({
         theme:'relax',
         text : "<%= message.success %>",
         type:'success',
         layout:'topRight',
         timeout:1500
      }).show();
        <% } %>
        <% if(message.error){ %>
        new Noty({
         theme:'relax',
         text : "<%= message.error %>",
         type:'error',
         layout:'topRight',
         timeout:1500
      }).show();
        <% } %>
      </script> 
    <div class="signup">
      <form action="/create" method="post">
        <label for="chk" aria-hidden="true">Sign Up</label>
        <input type="text" name="name" placeholder="User name" required="true">
        <input type="email" name="email" placeholder="Email" required="true">
        <input type="password" name="password" placeholder="Password*" required="true">
        <input type="password" name="con_pass" placeholder="Confirm Password*" required="true">
        <button type="submit">Sign up </button>
        <a href="/login">Login</a>
      </form>
    </div>
</body>
</html> -->