<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <title>Document</title>
</head>
<body>
    <script>
        <% if(message.success){ %>
        new Noty({
         theme:'relax',
         text : "<%= message.success %>",
         type:'success',
         layout:'topRight',
         timeout:1500
      }).show();
        <% } %>
        <% if(message.error){ %>
        new Noty({
         theme:'relax',
         text : "<%= message.error %>",
         type:'error',
         layout:'topRight',
         timeout:1500
      }).show();
        <% } %>
      </script> 
    <form action="/create" method="post">
        <label for="name">name:</label>
        <input type="text" name="name" id="user_name">
        <label for="email">email</label>
        <input type="email" name="email" id="user_email">
        <label for="password">password</label>
        <input type="password" name="password" id="user_password">
        <label for="con_pass">confrim password</label>
        <input type="password" name="con_pass" id="con_pass">
        <button type="submit">sign up</button>
        <a href="/login">sign in</a>
    </form>
</body>
</html>